<div class="eventListContainer">
    <h4 class="eventListName">{{this.eventName}}</h4>
    <h4 class="eventListInfo"> / {{this.eventDate}} / {{this.eventLocation}} / </h4>
    <a id="eventLink" href="{{this.eventURL}}" target="_blank">
        <h4 class="eventListInfo">Info</h4>
    </a>
</div>

